@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {
    font-family: 'W95font';
    src: local('W95font'), url("/fonts/w95font.woff") format("woff");
}*/

@layer components {
    .subtext {
        @apply text-sm italic text-white
    }
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

:root { 
    --ctp-macchiato-text: #FFFFFF;
    
    --ctp-macchiato-subtext0: #a5adcb;
    
    --ctp-macchiato-base: #c0c0c0;

    --sidebarcolor: #1c1c1c;
}

a, p, h1, h2, li, ul {
    color: var(--ctp-macchiato-text);
    /*font-family: Quicksand-Regular, W95FA, Arial, Helvetica, sans-serif;*/
    /*font-family: FunnelDisplay, Arial, Helvetica, sans-serif;*/
    font-display: "FunnelDisplay", "sans-serif";
    letter-spacing: 1px;
}

a {
    text-decoration: underline;
}

h1, h2 {
    margin-bottom: 10px;
}

li:not(:last-child) {
    padding-bottom: 8px;
}

body {
    /*background: linear-gradient(135deg, #89CFF0, #B2FFFF);*/
    /*background-color: #000000;*/
    scrollbar-width: 0;
    overflow-x:hidden;
    background-image: url(../../public/wall.jpg);
    background-size: cover;
}

.imagebg {
    background-image: url(../../public/wall.jpg);
    background-size: cover;
}